<section>
  <div class="page-header">
    <h1>{{vm.message._id ? 'Edit Message' : 'New Message'}}</h1>
  </div>
  <div class="col-md-12">
    <form name="vm.form.messageForm" class="form-horizontal" ng-submit="vm.save(vm.form.messageForm.$valid)" novalidate>
      <fieldset>
        <div class="form-group" show-errors>
          <label class="control-label" for="name">Text</label>
          <input name="name" type="text" ng-model="vm.message.text" id="name" class="form-control" placeholder="Text" required>
          <div ng-messages="vm.form.messageForm.name.$error" role="alert">
            <p class="help-block error-text" ng-message="required">Message <text></text> is required.</p>
          </div>
        </div>
        <div class="form-group">
          <button type="submit" class="btn btn-default">{{vm.message._id ? 'Update' : 'Create'}}</button>
        </div>
        <div ng-show="vm.error" class="text-danger">
          <strong ng-bind="vm.error"></strong>
        </div>
      </fieldset>
    </form>
  </div>
</section>
