<section>
  <div class="page-header">
    <h1>Messages</h1>
  </div>
  <div class="list-group">
    <a ng-repeat="message in vm.messages"
       ui-sref="messages.view({ messageId: message._id })"
       class="list-group-item">
      <small class="list-group-item-text">
        Posted on
        <span ng-bind="message.created | date:'mediumDate'"></span>
        by
        <span ng-if="message.user" ng-bind="message.user.displayName"></span>
        <span ng-if="!message.user">Deleted User</span>
      </small>
      <h4 class="list-group-item-heading" ng-bind="message.text"></h4>
    </a>
  </div>
  <div class="alert alert-warning text-center" ng-if="vm.messages.$resolved && !vm.messages.length">
    No Messages yet, why don't you <a ui-sref="messages.create">create one</a>?
  </div>
</section>
