<section>
  <div class="page-header">
    <h1 ng-bind="vm.message.text"></h1>
  </div>
  <div class="pull-right"
       ng-show="vm.message.isCurrentUserOwner">
    <a class="btn btn-primary"
       ui-sref="messages.edit({ messageId: vm.message._id })">
      <i class="glyphicon glyphicon-edit"></i>
    </a>
    <a class="btn btn-primary" ng-click="vm.remove()">
      <i class="glyphicon glyphicon-trash"></i>
    </a>
  </div>
  <small>
    <em class="text-muted">
      Posted on
      <span ng-bind="vm.message.created | date:'mediumDate'"></span>
      by
      <span ng-if="vm.message.user"
            ng-bind="vm.message.user.displayName"></span>
      <span ng-if="!vm.message.user">Deleted User</span>
    </em>
  </small>
  <!--<p class="lead" ng-bind="vm.message.content"></p>-->
</section>
